<launch>
    <!--para o live1-->

    <node name="comunicacao" pkg="obelix" type="comunicacao.py" output="screen"/>


    <!-- <node name="camera_zed" pkg="live1" type="camera_zed.py" output="screen"/>

    <node name="lanewarp" pkg="live1" type="lanewarp.py" output="screen"/>
    
    <node name="depth" pkg="live1" type="depth.py" output="screen"/> -->

    <!-- <node name="decision_maker" pkg="live1" type="decision_maker.py" output="screen"/> -->

</launch>